/* #changed */
body { 
    background-image: url("/static/images/indian-rupee-notes.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* #changed */
    padding-right: 35px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
    background-color: rgba(255, 255, 255, 0.639);
}
/* #included */
h1 { 
    text-align: center;
    margin-left: 15px;
}

input[type="number"],
button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    /* #changed */
    width: 415px; 
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}