<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="feedback-container">
        <h2>Feedback Form</h2>
        <form id="feedbackForm">
            <div class="form-group">
                <input type="text" id="name" name="name" required placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <div class="form-group">
                <label for="requirement">Did you find what you needed?</label>
                <label><input type="radio" name="requirement" value="yes">Yes, all of it</label>
                <label><input type="radio" name="requirement" value="some">Yes, some of it</label>
                <label><input type="radio" name="requirement" value="no">No, none of it</label>
            </div>
            <label for="rating">User friendlyness:</label>
            <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 stars"><i
                        class="fas fa-star"></i></label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars"><i
                        class="fas fa-star"></i></label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars"><i
                        class="fas fa-star"></i></label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars"><i
                        class="fas fa-star"></i></label>
                <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star"><i
                        class="fas fa-star"></i></label>
            </div>
            <div class="form-group">
                <textarea id="comments" name="comments" required placeholder="Comments"></textarea>
            </div>
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
</body>

</html>