<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Modern Technologies Used</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/techstyle.css') }}">
</head>

<body>

    <header>
        <div class="header">
            <a style="background-color: rgb(5, 5, 5);" href="{{ url_for('hero') }}" class="logo"><img style="height: 80px;"
                    src="{{ url_for('static', filename='images/site-logo_2.png') }}" alt="logo"></a>
            <div class="entire" style="color: aliceblue; text-align: center;margin-top: 40px;">
                <h1>
                    <b>Modern-day Farming Technologies</b>
                </h1>
            </div>
        </div>
    </header>

    <br>
    <div class="wrapper">

    </div>
    <div class="middle-container">
        <div class="profile">
            <img class="IAPP" src="{{ url_for('static', filename='images/Tech1.jpeg') }}" alt="iapp">
            <img class="IAPP2" src="{{ url_for('static', filename='images/Tech2.jpeg') }}" alt="iapp2">
            <img class="IAPP3" src="{{ url_for('static', filename='images/tech3.jpeg') }}" alt="iapp3">
            <h2>Irrigation or Farming Apps</h2>
            <p align="left">
                One of the most important jobs of a farmer is to make sure that he uses the water he has
                judiciously (especially if rain is not in the forecast). A new set of smartphone apps
                called SmartIrrigation are aimed at helping cotton, strawberry and citrus farmers
                manage the water they use on their crops by taking into account local weather conditions.
                <br />
                Smart irrigation systems can optimize water levels based on things such as
                soil moisture and weather predictions. This is done with wireless moisture sensors that
                communicate with the smart irrigation controls and help inform the system whether or not the landscape
                is in need of water.
            </p>

            <a href="https://www.india.gov.in/topics/agriculture/irrigation" target="_blank">Learn More</a>

        </div>
    </div>
    <br>
    <div class="wrapper2">

    </div>
    <div class="middle2-container">
        <div class="profile">
            <img class="mm1" src="{{ url_for('static', filename='images/tech4.jpeg') }}" alt="mm1">
            <img class="" src="{{ url_for('static', filename='images/tech5.jpeg') }}" alt="mm2">
            <img class="" src="{{ url_for('static', filename='images/tech6.jpeg') }}" alt="mm3">
            <h2>Modern Machinery</h2>
            <p align="left">
                The modern farm machinery has upgraded the agricultural industry for the best.
                Some of the essential and most used machinery are Combine or Combine Harvester, Rotavator or Rotary
                Tiller,
                Plough or Plow, Tractor Trailer, Power Harrow, Leveler, water bowser, ripper machine, and disc harrow.
                mechanised agriculture includes the use of tractors, trucks, combine harvesters, countless types of farm
                implements,
                aeroplanes and helicopters (for aerial application), and other vehicles
                By utilizing mechanical power in agriculture leads to reduce animal power so that raring of
                animals is not required and utilization of fodder area can be used to grow crops for producing food for
                human consumption.
            </p>
            <a href="https://agrimachinery.nic.in/" target="_blank">Learn More</a>
        </div>
    </div>
    <br>

    <div class="wrapper3">

    </div>
    <div class="middle3-container">
        <div class="profile">
                    <img class="n1" src="{{ url_for('static', filename='images/tech7.jpeg') }}" alt="ns1">
            <img class="n2" src="{{ url_for('static', filename='images/tech8.jpeg') }}" alt="ns2">
            <img class="n3" src="{{ url_for('static', filename='images/tech9.jpeg') }}" alt="ns3">
            <h2>Nitrogen Sensors</h2>
            <p align="left">
                Sensing technology applied to agriculture is based on the typical light
                reflectance curve for vegetation. N-Sensor measures light reflectance at specific wave bands
                related to the crop's chlorophyll content and biomass. It calculates the actual N-uptake of the crop.
                Optimum application rates are derived from the N-uptake data and sent to the controller of the variable
                rate spreader or sprayer, which will adjust fertiliser rates accordingly.
            </p>
            <br>
            <p>
                N-Sensor use advantages:
            <ol>
                <li>Bring the optimal fertiliser rate in every part of the field</li>
                <li>Increase fertiliser efficiency</li>
                <li>Decrease nitrogen residues in soils post harvest</li>
                <li>Increase yield</li>
                <li>Reduce harvesting time and cost</li>
                <li>Reduce risk of nitrogen losses to the environment</li>
            </ol>
            </p>
            <a href="https://www.yara.in/crop-nutrition/farmers-toolbox/n-sensor/#:~:text=Sensing%20technology%20applied%20to%20agriculture,N%2Duptake%20of%20the%20crop."
                target="_blank">Learn More</a>
        </div>
    </div>
    <br>
    <div class="wrapper4">

    </div>
    <div class="bar-container">
        <div class="profile">
            <div class="skills">
                <h2>Improvement Percentage</h2>
                <div class="skill-row">
                    <h3>Without using modern farming technology:</h3>
                    <div class="skills">
                        <div class="details">
                            <span>Rate</span>
                            <span>68%</span>
                        </div>
                        <div class="bar">
                            <div id="Rate-bar"></div>

                        </div>
                    </div>


                    <h3>Using modern Farming Technology: </h3>
                    <div class="details">
                        <span>New Rate</span>
                        <span>97%</span>
                    </div>
                    <div class="bar">
                        <div id="NR-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="last-container">
            <div class="profile">
                <p>
                    If you want to learn more about modern technology in farming:
                    <a class="last-btn"
                        href="https://electronics.howstuffworks.com/everyday-tech/10-high-tech-tools-farm.htm">Click
                        here</a>
                </p>
            </div>
        </div>
</body>
</html>